.meal {
  display: flex;
  justify-content: space-between;
  margin: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #ccc;
}

.meal h3 {
  margin: 0 0 0.25rem 0;
}

.description {
  font-style: italic;
}

.price {
  margin-top: 0.25rem;
  font-weight: bold;
  color: #ad5502;
  font-size: 1.25rem;
}

table,
th,
td {
  border: 1px solid black;
}

table {
  width: 100%;
}
button {
  font: inherit;
  background-color: transparent;
  border: 1px solid black;
  color: green;
  font-weight: bold;
  padding: 0.5rem 1.5rem;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background-color: greenyellow;
  color: green;
}
